body {
    background: #FEFEFE;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 15pt;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

main {
    max-width: 75%;
    margin: auto;
}

/*header {
    border-bottom: 1px solid #AFAFAF;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    margin-bottom: 5px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.15rem;
}

h6 {
    font-size: 1.05rem;
}

p {
    font-size: 1rem;
    line-height: 2;
}*/


.rightMain {
    margin-top: 10%;
    margin-left: 10%
}
.errorTable {
    border:0;
}

