<div class="row row-offcanvas row-offcanvas-left">
    <div ng-controller="AppCtrl">
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">


                        <form>
                            <div class="form-group">


                                <label for="Pname"></label>
                                <input type="text" class="form-control" ng-model="project.name" id="email" placeholder="Name">
                                <label for="Description"></label>
                                <textarea name="message" ng-model="project.info" class="form-control" rows="3" cols="50" placeholder="Description"></textarea>
                                <label for="courseId"></label>
                                <input type="number" class="form-control" ng-model="project.team" placeholder="size of team">
                                <input type="text" class="form-control" ng-model="project.courseId" placeholder="courseId">
                                <br></br>
                                <input type="file" file-model="myFile" />
                                <button ng-click="uploadFile()">upload</button>
                                <div class="btn-group pull-right">
                                    <button class="btn btn-primary" ng-click="update(project._id)">update</button><br></br>
                                    <button class="btn btn-primary" type="button" ng-click="myFunc()"> Add Members</button>
                                </div>


                            </div>
                            <button class="btn btn-primary" ng-click="addproject()">Create</button>

                        </form>


                        <table class="table">
                            <thead>
                                <tr class="cob-popover-container">
                                    <th><input type="checkbox" ng-repeat="item in products" ng-click="checkAll()" /></th>
                                    <th>Name</th>
                                    <th>Info</th>
                                    <th class=col-sm-1>Size</th>
                                    <th>Course</th>
                                    <th>Action</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="project in projectlist">
                                    <td>
                                        <input type="checkbox" ng-model="personalDetail.selected" />
                                    </td>
                                    <td><a href="#/info/{{project._id}}" ng-click="setSelectedProject(project._id)">{{project.name}}</a></td>
                                    <td>{{project.info}}</td>
                                    <td>{{project.team}}</td>
                                    <td>{{project.courseId}}</td>

                                    <!--<td>{{project.team}}</td>-->
                                    <td><button class="btn btn-danger" ng-click="remove(project._id)">Remove</button></td>
                                    <!-- <td><button class="btn btn-primary" ng-click="update(project._id)">update</button></td> -->
                                    <td><button class="btn btn-warning" ng-click="edit(project._id)">Edit</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>