<!DOCTYPE html>
<html>
<head>

</head>
<body ng-app="chatApp">
    <div>
    <div ng-controller="userCreationCtrl as user">
        <input ng-model="user.username", type="text"><button ng-click="user.createUser(user.username)">Submit</button>
    </div>
    <div ng-controller="chatCtrl as chat">
            <h4>Welcome to Chatting Room</h4>
        <ul>
            <li ng-repeat="message in chat.messages | orderBy:$index">
                <strong>{{message.username}}:</strong><span>{{message.message}}</span>
                
            </li>
        </ul>
        
        <input ng-model="chat.newMessage" type="text"> <button ng-click="chat.sendMessage()">Send</button>
    </div>
    </div>

    
</body>

    <script src="/public/javascripts/angular.min.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>

    <script src="app.js"></script>
    <script src="/public/javascripts/user-controller-creation.js"></script>
    <script src="/public/javascripts/chat-controller.js"></script>
    <script src="/public/javascripts/buildUeditor.js"></script>
    <script type="text/javascript" src="http://ueditor.baidu.com/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="http://ueditor.baidu.com/ueditor/ueditor.all.js"></script>
    <script type="text/javascript" src="/public/javascripts/UEditor/angular-ueditor.js"></script>
    
</html>