@CHARSET "UTF-8";
        table {
            width: 700px;
            height: 300px;
            border-collapse: collapse;
        }
        table, td, th {
            border-width: 1px;
            border-style: solid;
            border-color: #a9c6c9;
        }
        td.pre{
            background-color: gainsboro;
			width: 100px;
        }
        td.current{
            background-color: #c3dde0;
			width: 100px;
        }
        td.next{
            background-color: lightgreen;
			width: 100px;
        }
        td.today{
            background-color: #87ceeb;
			width: 100px;

        }
		/*.holiday{
			background-color: pink;
			position: absolute;
			left:450px;
			top:150px;
			width:300px;
			height:200px;
			border-width: 1px;
			border-style: solid;
			margin: 0 auto;

        }*/
	    .event{
			background-color: green;
			position: absolute;
			left:400px;
			top:100px;
			width:600px;
			height:400px;
			border-width: 1px;
			border-style: solid;
			margin: 0 auto;

        }

        .addEvent {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.addEvent-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
