/*TakeQuiz*/
body{
    background-color: #efefef;
    
}

.header-main {
    background-color: white;
    padding-left: 35px;
    padding-bottom: 10px;
    padding-top:10px;
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #888888;
}

.header-main h1{
    margin-top: 0px;
    margin-bottom: 0px;
}


div#content {
	font-family: Arial;
	font-size: 28pt;
}


div.header {
	font-family: Arial;
	font-size: 28px;
	border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
}


.qc {
	border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #888888;

}

.disp {
	padding: 15px;
}

.qc.Instr {
	
    font-size: 32px
}

.wrapper {
    padding-right: 250px;
}
.sidebar-right {
    position: fixed;
    width: 250px;
    right: 250px;
    margin-right: -250px;
    padding: 10px;
    border-left: 1px solid #ddd;
}

.page-content-wrapper {
    position: relative;
}

.QComplete {
    color: limegreen;
}

.imgDiv {
	position: relative;
}

.dragDropOption {
	background-color: white;
	font-size: 18px;
	padding: 5px;
	cursor:move;
	position:relative; /* important (all position that's not `static`) */
	border-radius: 3px;
	border: 1px solid black;
}

.container {
	display: flex;
}

.container .dragDropOption {
	margin-right: 5px;
}

.dragdropLocation {
	background-color: white;
	min-width:20px;
	min-height:20px;
	border-radius: 3px;
	border: 1px solid black;
}

.SurveyContainer {
    font-size: 20px;
    padding-top: 10px;
}

.ChoiceContainer {
    padding-top: 5px;
}
.Choice{
    font-size: 10px;
    display: inline-block;
}
