.Info {
    text-align: center;
}

table.stats{
    width:100%;
    text-align: center;
}
table.stats  th, td{
    border-collapse: collapse;
    padding: 5px;
}

table.stats tr:nth-child(even) {
    background-color: #eee;
}
table.stats tr:nth-child(odd) {
    background-color: #fff;
}
table.stats th {
    background-color: dodgerblue;
    color: white;
}