<form action="/createhw" method="post" accept-charset="utf-8">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Description</span>
        <input type="text" class="form-control" placeholder="homework description" aria-describedby="basic-addon1" name="description">
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Student</span>
        <input type="text" class="form-control" placeholder="student email" aria-describedby="basic-addon1" name="student">
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Type</span>
        <input type="text" class="form-control" placeholder="project type" aria-describedby="basic-addon1" name="type">
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">grader</span>
        <input type="text" class="form-control" placeholder="grader email" aria-describedby="basic-addon1" name="greder">
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"></span>
        <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
    </div>
</form>