<div class="row">
  <div class="col-sm-12">
    <form id="static-form" method="post">
	  <div class="form-group">
        <label for="text1">Main Text</label>
        <textarea class="form-control" id="text1" name="text1" placeholder="Main Text" rows="5"> </textarea>
      </div>
	  <div class="form-group">
        <label for="text2">String To Insert</label>
        <input type="text" class="form-control" id="text2" name="text2" placeholder="String To Insert" value="{{inputText}}">
      </div>
      <div class="form-group">
        <label for="number1">Insert Frequency</label>
        <input type="number" class="form-control" id="number1" name="number1" placeholder="Insert Frequency" value="{{freq}}">
      </div>
      <div class="form-group">
        <label for="number2">Number Of Characters</label>
        <input type="number" class="form-control" id="number2" name="number2" placeholder="Number Of Characters" value="{{wordwidth}}">
      </div>
      
      <div class="form-group hidden" id="error-container">
        <div class="alert alert-danger text-goes-here">
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
      <div class="form-group hidden" id="result-container">
        <div class="alert alert-success text-goes-here">
        </div>
      </div>
    </form>
  </div>
</div>
