@CHARSET "UTF-8";
table {
  width: 700px;
  height: 300px;
  border-collapse: collapse;
}
table, td, th {
  border-width: 1px;
  border-style: solid;
  border-color: #a9c6c9;
}
td.pre{
  background-color: gainsboro;
	width: 100px;
}
td.current{
  background-color: #c3dde0;
	width: 100px;
}
td.next{
  background-color: lightgreen;
	width: 100px;
}
td.today{
  background-color: #87ceeb;
	width: 100px;
}

.divholiday{
  background-color: pink;
	position: absolute;
	left:450px;
	top:150px;
	width:300px;
	height:200px;
	border-width: 1px;
	border-style: solid;
	margin: 0 auto;
}

.event{
  background-color: green;
	position: absolute;
	left:400px;
	top:100px;
	width:600px;
	height:400px;
	border-width: 1px;
	border-style: solid;
	margin: 0 auto;
}

.addEvent {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.addEvent-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Dropdown Button */
/*.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}*/

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdownMenu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdownMenu a {
    color: black;
    padding: 5px 9px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdownMenu a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdownMenu {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: lightblue;
}

.changeYear:hover{
  background-color: lightblue;
}
