<section>
    <h1>HOMEWORK</h1>
    <form method='post' action='/upload' enctype="multipart/form-data">
        <input type='file' name='fileUploaded'>
        <button type='submit'>Submit</button>
    </form>
</section>