<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<script scr="./script.js">
    
        $.getJSON('Project.json', function(data){
           var output="<li>";
           for(var i in data.Pnames){
            output+="<a>"+data.Pnames[i].Name+"</a>";
           }
           output+="</li>";
            document.getElementById("CSP").innerHTML=output;
            document.getElementById("info").innerHTML=data.Pnames[0].Info;
          for(var i in data.Pnames){
              document.getElementById("members").innerHTML=data.Pnames[0].members[i];
          }
           
           
           
    });
</script>
</head>

<body>

    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
          <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">CPE-640</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Discussion<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a onclick="document.getElementById('create-discussion').style.display='block'" >Create</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">View</a></li>
            </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Project<span class="caret"></span></a>
                <ul class="dropdown-menu">
                <li><a onclick="document.getElementById('create-project').style.display='block'">Create</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">View</a></li>
                </ul>
            </li>
          </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default btn-primary">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <ul class="nav navbar-nav">
                <li><a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a></li>
                <li><a onclick="document.getElementById('id01').style.display='block'"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </ul>
        </div>
  </div>
</nav>
<div class="row row-offcanvas row-offcanvas-left">
    <div class=col-sm-9>
            <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        All projects
                    </a>
                </li>
                <li>
                    <a id="CSP"></a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                       <h2>CSP</h2>
                       <div class="form-group">
                         <label for="comment">Info:</label>
                         <textarea class="form-control" rows="5" id="info"></textarea>
                         <label for="comment">Members:</label>
                         <textarea class="form-control" rows="2" id="members"></textarea>
                       </div>
<nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                            <li><a>File Upload</a></li>
                            </ul>
                        </div>
                        </div>
                    </div>
                </nav>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <form>
                                <div class="form-group">
                                    <label for="multiple">Multiple</label>
                                    <input type="file" class="form-control" name="multiple" ng2FileSelect [uploader]="uploader" multiple  />
                                </div>
                                <div class="form-group">
                                    <label for="single">single</label>
                                    <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" />                                  
                                </div>            
                            </form>
                        </div>
                        <div class="col-md-8">
                            <h3>File Upload with Angular 2 and Node</h3>
                            Queue length: {{ uploader?.queue?.length }}

                            <table class="table">
                                <thead>
                                <tr>
                                    <th width="50%">Name</th>
                                    <th>Size</th>
                                    <th>Progress</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let item of uploader.queue">
                                    <td><strong>{{ item.file.name }}</strong></td>
                                    <td nowrap>{{ item.file.size/1024/1024 | number:'.2' }} MB</td>
                                    <td>
                                        <div class="progress" style="margin-bottom: 0;">
                                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                        <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                    </td>
                                    <td nowrap>
                                        <button type="button" class="btn btn-success btn-xs"
                                                (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                            <span class="glyphicon glyphicon-upload"></span> Upload
                                        </button>
                                        <button type="button" class="btn btn-warning btn-xs"
                                                (click)="item.cancel()" [disabled]="!item.isUploading">
                                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs"
                                                (click)="item.remove()">
                                            <span class="glyphicon glyphicon-trash"></span> Remove
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div>
                                <div>
                                    Queue progress:
                                    <div class="progress" style="">
                                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-success btn-s"
                                        (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                                    <span class="glyphicon glyphicon-upload"></span> Upload all
                                </button>
                                <button type="button" class="btn btn-warning btn-s"
                                        (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                </button>
                                <button type="button" class="btn btn-danger btn-s"
                                        (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                                    <span class="glyphicon glyphicon-trash"></span> Remove all
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
        <!-- /#page-content-wrapper -->

    </div>
    </div>
    </div>
    </div>
    </div>
    </div>


    <div class=col-sm-3>

          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>



        <div class="sidebar-offcanvas" id="sidebar">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#student">Student</a></li>
                <li><a data-toggle="tab" href="#group">Group</a></li>
            </ul>
            <div class="tab-content">
            <div class="tab-pane fade in active"  id="student">
              <div class="list-group"><!-- we need json or datebase to dispaly here-->
                  <a href="#" class="list-group-item" onclick="creates()">student 1<span class="badge">message 2</span></a>
                  <a href="#" class="list-group-item" onclick="creates()">student 2<span class="badge">message 15</span></a>
                  <a href="#" class="list-group-item" onclick="creates()">student 3<span class="badge">message 15</span></a>
                  <a href="#" class="list-group-item" onclick="creates()">student 4<span class="badge">message 15</span></a>
                  <a href="#" class="list-group-item" onclick="creates()">student 5<span class="badge">message 15</span></a>
                  <a href="#" class="list-group-item" onclick="creates()">student 6<span class="badge">message 15</span></a>
                  <a href="#" class="list-group-item" onclick="creates()">student 7<span class="badge">message 15</span></a>
                  <a href="#" class="list-group-item" onclick="creates()">student 8<span class="badge">message 15</span></a>
                  <a href="#" class="list-group-item" onclick="creates()">student 9<span class="badge">message 15</span></a>
                  <a href="#" class="list-group-item" onclick="creates()">student 10<span class="badge">message 15</span></a>
              </div>
            </div>
            <div class="tab-pan fade" id="group">
                <div class="list-group"><!-- we need json or datebase to dispaly here-->
                    <a href="#" class="list-group-item active">group 1</a>
                    <a href="#" class="list-group-item">group 2</a>
                </div>
                </div>
                </div>
             </div><!--tab-content-->
            </div><!--sidebar-->

</div><!--col-sm-3-->

</div><!--container-->
<script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
