<style type="text/css">
body {
    margin: 0;
}

.navigation {
    list-style-type: none;
    padding: 0;
    margin:0;
    width: 120px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

#account {
  margin-top:10px;
}

.navigation li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.navigation li a.active {
    background-color: #4CAF50;
    color: white;
}

.navigation li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

#content {
margin-left: 120px;
}

.dropdown {
  float:left;
}

.menu {
  display:inline-block;
    background-color: #555;
    border:none;
    color:white;
    text-aligh:center;
    font-size: 20px;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    width:100px;
    height:50px;
    margin:10px;
}

.menu span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.dropdown-menu {
    display: none;
    position: fixed;
    margin-left: 120px;
    background-color: #f9f9f9;
    width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
  background-color:#555;
    color:white;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.nav-top {
  float: left;
    margin-top: 10px;
}

.nav-top nav ul li span a {
  color:#2e73d6;
  text-decoration:none;
}

.nav-top nav ul li span a:hover {
  text-decoration:underline;
}

.nav-top nav ul li {
  display:inline;
}

.up1 {
  margin-top:1em;
}

#up2 {
  margin-left:1em;
}

#up3 {
  margin-left:1em;
}

.aggreate {
  background-color: #555;
  border: none;
  color: white;
  padding: 7.5px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
  margin-left:10px;
}

.filter {
  clear:left;
}

.in-ex {
  position:relative;
  bottom:40px;
  float:right
}

.grade {
    float:left;
    position:relative;
    left:10px;
    }

.button, .in-ex {
  padding:8px 16px;
  border:none;
  color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(66, 184, 221);
}

.grade_left{
  float: left;
}

.grade_right {
    float: left;
}

.head div{
  border:1px solid grey;
    float:left;
    padding:10px;
}

.score {
  float:left;
    border:1px solid grey;
    padding:10px;
}
#wrapper {
  display: block;
  width: 850px;
  background: #fff;
  float:left;
}

#keywords {
  font-size: 1.2em;
  margin-bottom: 15px;
}

#keywords thead {
  cursor: pointer;
  background: #c9dff0;
}
#keywords thead tr th {
  font-weight: bold;
  padding: 12px 30px;
  padding-left: 42px;
}
#keywords thead tr th span {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#keywords thead tr th.headerSortUp, #keywords thead tr th.headerSortDown {
  background: #acc8dd;
}

#keywords thead tr th.headerSortUp span {
  background-image: url('up-arrow.png');
}
#keywords thead tr th.headerSortDown span {
  background-image: url('down-arrow.png');
}


#keywords tbody tr {
  color: #555;
}
#keywords tbody tr td {
  text-align: center;
  padding: 15px 10px;
}
#keywords tbody tr td.lalign {
  text-align: left;
}
table.gradeTable { border-collapse: collapse; border-spacing: 0; }

/* loginformabs_top styles the login form when it is in the top right corner of the page */
#loginformabs_top {
    padding: 5px 5px 5px 5px;
    border: solid 0px;
    border-radius: 0 0 0 5px;
    background-color: #ADD8E6;
    position: absolute;
    right: 30px;
    top: 0px;
    margin-top: 0;
    margin-right: -30px;
    width: 15%;
}

#loginformabs_top .container {
  margin: 3px 3px 3px 3px;
  width: auto;
  height: auto;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    /*padding: 12px 20px;
    margin: 8px 0;*/
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for login buttons */
#loginformabs_top button {
    background-color: #4CAF50;
    color: white;
    /*padding: 14px 20px;
    margin: 8px 0;*/
    border: none;
    cursor: pointer;
}

/* Add a hover effect for buttons */
#loginformabs_top button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
#loginformabs_top .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

#loginformabs_top label {
  color: white;
}

/* The "Forgot password" text */
#loginformabs_top span.psw {
    float: right;
    padding-top: 16px;
}



/* loginformabs styles the login form when it is on the main part of the page */
.loginformabs {
    padding: 5px 5px 5px 5px;
    border: solid 0px;
    border-radius: 0 0 0 5px;
    background-color: #ADD8E6;
    right: 30px;
    top: 0px;
    margin-top: 0;
    width: 75%;
}

.loginformabs form {
    border: 3px solid #F1F1F1;
}

.loginformabs .container {
  padding: 16px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for login buttons */
.loginformabs button {
    background-color: #4CAF50;
    /* color: white; */
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
.loginformabs button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.loginformabs .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #F44336;
}

.loginformabs label {
  /* color: white; */
}

/* The "Forgot password" text */
.loginformabs span.psw {
    float: right;
    padding-top: 16px;
}

</style>
