body {
  font-family: Arial, sanserif;
  background-color: white;
  margin: 0 0 0 0;
  margin-top: 0px;
}

body p {
  font-size: 14pt;
}

#menu_top {
  background-color: #BAE4F0;
  width: 100%;
  height: 5%;
  margin: 0;
  padding: 0;
}

#menu_top * {
  margin: 0 0 5px 12px;
}

#menu {
  position: fixed;
  margin: 0;
  font-family: Arial, sanserif;
  font-size: 12pt;
  width: 100%;
  padding: 0;
  /* height: 10%; */
  margin: 0;
  /* border: 2px solid black; */
  z-index: 1;
  /*Shadow on Bottom Border */
  -webkit-box-shadow:0px 1px 1px #C0C0C0;
  -moz-box-shadow:0px 1px 1px #C0C0C0;
  box-shadow: 0px 1px 1px #C0C0C0;
  background-color: #FDFDFD;
}

ul {
    list-style-type: none;
    /*
    margin: 0;
    padding: 0;
    */
    margin: 0;
    padding: 0;
    overflow: hidden;'
    background-color: #FDFDFD;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background: gray;
    color: white;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* TODO */
/* Once a link from the menu has been clicked, display changes */
#menu .clicked {
  background-color: #D3D3D3;
  color: black;
}

div img {
  width: 50px;
  height: 33px;
  z-index: 1;
  margin: 5px 0 5px 5px;
  display: inline-block;
}

.loginform {
    position: relative;
    /* margin-top: -43px; */
    margin-right: -20px;
}

.loginformabs {
    padding: 5px 5px 5px 5px;
    border: solid 0px;
    border-radius: 0 0 0 5px;
    background-color: #355380;
    position: absolute;
    right: 30px;
    top: 0px;
    margin-top: 0;
    margin-right: -30px;
}

#menu_left {
  width: 10%;
  height: 100%;
  float: left;
  background-color: #E8E8EE;
  /* border: 1px solid black; */
}

#content {
  margin-top: 20px;
  padding: 40px 10px 10px 180px;
}

/* Table class for grades */
/* TODO */
