
<div class="row" style="margin: auto; width: 80%; padding: 10px;">
    <div class="col-sm-4"><br/>
        <form id="forgotpassword" method="post" action="/forgotpassword">
            <!-- -->
            <div class="form-group">
                <label for="username">Email</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter email" value="{{email}}">
            </div>
            <!-- -->
            <div class="form-group hidden" id="error-container">
                <div class="alert alert-danger text-goes-here">
                </div>
            </div>
            <!-- -->
            {{#if message}}
                <div class="alert alert-danger">
                    <p><strong></strong>{{message}}</p>
                </div>
            {{/if}}
            <!-- -->
            <div class="form-group">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>