<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="  
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd  
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<context:component-scan base-package="com.spring.controller">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Service" />
	</context:component-scan>
	<mvc:annotation-driven>
	<!-- <mvc:message-converters register-defaults="false"> -->
	<!-- <bean class="com.cs.convertor.MappingJacksonConverter"> -->
	<!-- <property name="supportedMediaTypes"> -->
	<!-- <list> -->
	<!-- <value>text/plain;charset=UTF-8</value> -->
	<!-- <value>text/html; charset=UTF-8</value> -->
	<!-- <value>application/json;charset=UTF-8</value> -->
	<!-- </list> -->
	<!-- </property> -->
	<!-- </bean> -->
	<!-- <bean class="com.cs.convertor.JsonHttpMessageConvertor"> -->
	<!-- <constructor-arg value="UTF-8" index="0"></constructor-arg> -->
	<!-- </bean> -->
	<!-- </mvc:message-converters> -->
	</mvc:annotation-driven>
	<!-- <mvc:resources location="/" mapping="/**" /> -->
	<!--&lt;!&ndash; 全局异常处理拦截器 &ndash;&gt; -->
<!-- 	<bean id="exceptionResolver" class="com.cs.interceptor.ExceptionInterceptor" /> -->

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/" />
		<property name="suffix" value=".jsp" />
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
	</bean>
</beans> 